:root {
  --body-bg-color: #272822;
  --line_num-color: #8f8f89;
  --comment-color: #807d69;
  --red-color: #f92672;
  --green-color: #a4df2e;
  --whiteish-color: #f8f8f2;
  --yellow-color: #e6db74;
  --link-color: #de9331;
  --link-hover-color: #e5aa5d;
  --curly-color: #c8c8a0;
  --purple-color: #a87df6;
  --blue-color: #33ccff;
  --last_line-color: #3e3d32;

  --nav-bg-color: #333333;
  --para-color: #a1a1a1;
  --butn-hov-color: #1c8674;
  --primary-color: #00b3a6;
  --secondary-color: #70efde;
  --title-color: #e2e2e2;
}

.jb-mono { font-family: 'JetBrains Mono', monospace; }

body {
  background-color: var(--body-bg-color);
  color: var(--para-color);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width:600px) {
  body { zoom: 75%; }
}

.num {
  color: var(--line_num-color);
}

.comment {
  color: var(--comment-color);
}

.red {
  color: var(--red-color);
}

.green {
  color: var(--green-color);
}

.white {
  color: var(--whiteish-color);
}

.yellow {
  color: var(--yellow-color);
}

.link {
  color: var(--link-color);
  text-decoration: underline;
}

.link:hover {
  color: var(--link-hover-color);
}

.curly {
  color: var(--curly-color);
}

.purple {
  color: var(--purple-color);
}

.blue {
  color: var(--blue-color);
}

.last_line {
  background: var(--last_line-color);
}

.blink {
  animation: blinking 1s infinite;
}

@keyframes blinking{
  0%{   color: var(--whiteish-color);   }
  50%{   color: var(--whiteish-color); }
  51%{   color: transparent; }
  100%{   color:transparent; }
}
