:root {
  --body-bg-color: #e5eab4;
  --nav-bg-color: #004d40;
  --butn-hov-color: #1c8674;
}

body {
  background-color: var(--body-bg-color);
  color: var(--nav-bg-color);
}

hr {
  border: 1px solid var(--nav-bg-color);
}

img {
  display: block;
  margin: auto;
}

.navbar {
  background-color: var(--nav-bg-color);
  background-image: none;
  background-repeat: no-repeat;
 }

 .nav-spacer {
   height: 100px;
 }

.text-box {
  padding: 20px;
}

.butn {
  background-color: var(--nav-bg-color);
  display: block;
  margin: auto;
  width: 200px;
}

.butn:hover {
  background-color: var(--butn-hov-color);
}

.grey {
  color: #60665c;
}

.icon {
  background-color: var(--nav-bg-color);
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: auto;
}

.icon:hover {
  background-color: var(--butn-hov-color);
}

.notice {
  text-align: center;
  vertical-align: middle;
  padding: 20px 10px 0px 10px;
}

.notice-container {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}
